{% extends "auth/auth_base.html" %}

{% block title %}
EchoHub | Forgot Password
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', path='css/auth.css') }}">
{% endblock %}


{% block content %}

<div class="auth-container">

    <div class="auth-card">

        <h2 class="text-center mb-3">
            Forgot Password
        </h2>

        <p class="text-center text-body-secondary mb-4">
            Enter your email address to receive OTP.
        </p>


        {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endif %}


        {% if message %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endif %}


        <!-- Send OTP Form -->

        {% if not show_otp %}

        <form action="/forget-password" method="POST">

            <div class="mb-3">

                <label class="form-label">
                    Email Address
                </label>

                <input
                    type="email"
                    name="email"
                    class="form-control"
                    placeholder="Enter your email"
                    required>

            </div>


            <button
                type="submit"
                class="btn btn-primary w-100 rounded-pill">

                Send OTP

            </button>

        </form>


        {% else %}


        <!-- Verify OTP Form -->

        <form action="/verify-reset-otp" method="POST">

            <input
                type="hidden"
                name="email"
                value="{{ email }}">


            <div class="mb-3">

                <label class="form-label">
                    Enter OTP
                </label>

                <input
                    type="text"
                    name="otp"
                    class="form-control"
                    placeholder="Enter OTP"
                    maxlength="6"
                    required>

            </div>


            <button
                type="submit"
                class="btn btn-primary w-100 rounded-pill">

                Verify OTP

            </button>


        </form>


        {% endif %}


        <div class="text-center mt-3">

            <a href="/login" class="text-decoration-none">
                Back to Login
            </a>

        </div>


    </div>

</div>

{% endblock %}
