{% extends "auth/auth_base.html" %}


{% block title %}
EchoHub | Reset Password
{% endblock %}


{% block css %}
<link rel="stylesheet" href="{{ url_for('static', path='css/auth.css') }}">
{% endblock %}



{% block content %}

<div class="auth-container">

    <div class="auth-card">


        <h2 class="text-center mb-3">
            Reset Password
        </h2>


        <p class="text-center text-body-secondary mb-4">
            Create your new password.
        </p>



        {% if error %}

        <div class="alert alert-danger">
            {{ error }}
        </div>

        {% endif %}



        <form action="/reset-password" method="POST">


            <div class="mb-3">

                <label class="form-label">
                    New Password
                </label>


                <input
                    type="password"
                    name="password"
                    class="form-control"
                    placeholder="Enter new password"
                    required>

            </div>




            <div class="mb-3">

                <label class="form-label">
                    Confirm Password
                </label>


                <input
                    type="password"
                    name="confirm_password"
                    class="form-control"
                    placeholder="Confirm new password"
                    required>

            </div>



            <button
                type="submit"
                class="btn btn-primary w-100 rounded-pill">

                Reset Password

            </button>


        </form>


        <div class="text-center mt-3">

            <a href="/login" class="text-decoration-none">
                Back to Login
            </a>

        </div>


    </div>

</div>


{% endblock %}
