{% extends "base.html" %}

{% block title %}
EchoHub | Profile
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', path='css/user_profile.css') }}">
{% endblock %}

{% block content %}

<div class="container py-4">

    <!-- Profile Card -->
    <div class="profile-card">

        <!-- Cover -->
        <div class="profile-cover"></div>

        <!-- Avatar -->
        <div class="profile-avatar-wrapper">
            <img src="https://ui-avatars.com/api/?name=Gopal+Patil&background=0D8ABC&color=fff&size=300"
                alt="Profile Picture" class="profile-avatar">
        </div>

        <!-- Profile Content -->
        <div class="profile-content">

            <div class="d-flex justify-content-between align-items-start flex-wrap">

                <div>

                    <h2 class="mb-1">
                        {{ user.full_name }}
                    </h2>

                    <p class="text-body-secondary mb-2">
                        {{ user.username }}
                    </p>

                </div>

                <a href="/profile-edit" class="btn btn-primary rounded-pill px-4">
                    Edit Profile
                </a>

            </div>

            <p class="bio mt-3">
                {{ user.bio }}
            </p>

            <div class="profile-meta mt-3">

                <span>📍 {{ user.city }} {{ user.state }}</span>

                <!-- <span>📅 {{ user.created_at }}</span> -->

            </div>

            <div class="profile-stats mt-4">

                <div>
                    <strong>23</strong>
                    <span>Posts</span>
                </div>

                <div>
                    <strong>152</strong>
                    <span>Followers</span>
                </div>

                <div>
                    <strong>98</strong>
                    <span>Following</span>
                </div>

            </div>

        </div>

  <div class="profile-nav">

    <a href="/user-blogs?tab=posts">
        Posts
    </a>
<!--
    <a href="/user-blogs?tab=likes"
       class="{% if active_tab == 'likes' %}active{% endif %}">
        Likes
    </a>

    <a href="/user-blogs?tab=media"
       class="{% if active_tab == 'media' %}active{% endif %}">
        Media
    </a>
 -->
</div>

<div class="profile-tab-content">

    {% if active_tab == "posts" %}

        {% for blog in blogs %}
            {% include "user/profile_post_card.html" %}
        {% else %}

            <div class="empty-posts">
                <h5>No Posts Yet</h5>
                <p>Share your first blog with the EchoHub community.</p>
            </div>

        {% endfor %}

    {% endif %}

</div>
{% endblock %}
