<aside class="sidebar" id="sidebar">


    <div class="sidebar-header">

        <h4>
            <i class="bi bi-shield-lock"></i>
            EchoHub
        </h4>

        <span>
            Admin Panel
        </span>

    </div>



    <ul class="sidebar-menu">


        <li>
            <a href="/admin-dashboard">

                <i class="bi bi-speedometer2"></i>

                Dashboard

            </a>
        </li>



        <li>
            <a href="/admin/users">

                <i class="bi bi-people"></i>

                Users

            </a>
        </li>



        <li>
            <a href="/admin/blogs">

                <i class="bi bi-file-post"></i>

                Blogs

            </a>
        </li>



        <li>
            <a href="/admin/reports">

                <i class="bi bi-flag"></i>

                Reports

            </a>
        </li>



        <li>
            <a href="/admin/activation-requests">

                <i class="bi bi-person-check"></i>

                Activation Requests

            </a>
        </li>


    </ul>




    <div class="sidebar-footer">

        <a href="/logout">

            <i class="bi bi-box-arrow-right"></i>

            Logout

        </a>

    </div>


</aside>
