<!-- Create post page -->
<section class="create-post-card">
    <form id="create-post-form">
        <div class="create-post-body">
            <div class="avatar">
                <i class="bi bi-person-fill"></i>
            </div>
            <div class="post-input-area">
                <textarea id="post-content" rows="1" maxlength="280" placeholder="What's happening?"></textarea>
            </div>
        </div>

        <div class="create-post-footer">
            <div class="post-tools">
                <button type="button" class="tool-btn">
                    <i class="bi bi-image"></i>
                </button>

                <button type="button" class="tool-btn">
                    <i class="bi bi-emoji-smile"></i>
                </button>

                <button type="button" class="tool-btn">
                    <i class="bi bi-geo-alt"></i>
                </button>
            </div>

            <div class="post-submit">
                <small id="character-count">
                    0 / 280
                </small>
                <button type="submit" class="btn btn-primary">
                    Post
                </button>
            </div>
        </div>
    </form>
</section>