<article class="post-card">

    <div class="post-header">

        <div class="avatar">
            <i class="bi bi-person-fill"></i>
        </div>

        <div class="post-user">
            <div class="user-top">
                <h6>Gopal Patil</h6>
                <small>@gopal · 2h</small>
            </div>
        </div>

        <button class="more-btn">
            <i class="bi bi-three-dots-vertical"></i>
        </button>
    </div>


    <div class="post-content">
        <p>
            🚀 Welcome to EchoHub!
        </p>
        <p>
            This is our first dummy post while building the frontend.
        </p>
    </div>


    <div class="post-actions">
        <button>
            <i class="bi bi-chat"></i>
            <span>10</span>
        </button>

        <button>
            <i class="bi bi-repeat"></i>
            <span>5</span>
        </button>

        <button>
            <i class="bi bi-heart"></i>
            <span>25</span>
        </button>

        <button>
            <i class="bi bi-bar-chart"></i>
            <span>120</span>
        </button>

        <button>
            <i class="bi bi-share"></i>
        </button>

    </div>

</article>