<aside class="left-sidebar">

    <!-- Logo -->

    <div class="logo">

        <a href="/" class="logo-link">

            EchoHub

        </a>

    </div>



    <!-- Navigation -->

    <nav>

        <ul class="sidebar-menu">

            <li>

                <a href="/" class="active">

                    <i class="bi bi-house-door"></i>

                    <span>Home</span>

                </a>

            </li>


            {% if request.state.user %}

            <li>

                <a href="/user-profile">

                    <i class="bi bi-person"></i>

                    <span>Profile</span>

                </a>

            </li>



            <li>
<!--
                <a href="#" id="theme-toggle">

                    <i class="bi bi-moon-stars"></i>

                    <span>Dark Mode</span>

                </a>
 -->
            </li>
            <li>

                <a href="/logout">

                    <i class="bi bi-box-arrow-right"></i>

                    <span>Logout</span>

                </a>

            </li>


            {% else %}
            <li>
                <a href="/login">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Login</span>
                </a>
            </li>

            <li>
                <a href="/register">
                    <i class="bi bi-person-plus"></i>
                    <span>Register</span>
                </a>
            </li>

            {% endif %}


        </ul>

    </nav>



    <!-- Create Post -->

    <div class="sidebar-post-btn">
        <a href="/create-blog" class="btn btn-primary w-100 rounded-pill">
            <i class="bi bi-plus-lg"></i>
            <span>Create Post</span>
        </a>
    </div>

</aside>
