{% extends "base.html" %}

{% block title %}
EchoHub - Home
{% endblock %}

{% block content %}
<!-- Home header -->

<header class="feed-header">
    <div class="feed-title">
        <h3>Home</h3>
        <button class="feed-refresh">

            <!-- <i class="bi bi-stars"></i> -->

        </button>
    </div>
</header>


<!-- create post section -->

{% include "partials/create_post.html"%}


<!-- post card section  -->
<section class="posts-container">
    {% for blog in blogs  %}
        {% include "partials/post_card.html" %}
    {% endfor %}
</section>



<!-- Report Modal (only once) -->
{% include "partials/report_modal.html" %}


{% endblock %}
